%h1
  Surviving Shaws
Abandon all hope, ye who enter here. 
%br
  =image_tag("shaws.jpg")

%h3 Shopping Lists
-@lists.each do |list|
  =link_to "#{list.name}", list_path(list)
  %br


%br
=link_to "+Make a New List", new_list_path 
