.div.text-center
  .row
    %h1
      Surviving Shaws
    Abandon all hope, ye who enter here. 
  .row 
    =image_tag("shaws.jpg")

  .row
    %h3 Shopping Lists
    -@lists.each do |list|
      %h4
        =link_to "#{list.name}", list_path(list)
        %br
  %br
  .row
    =link_to "Make a New List", new_list_path, class: "btn btn-primary"

  %br
  %br
  %hr
    =link_to "Inventory", items_path
