.div.text-center
  %h3 Name your new shopping list

  =simple_form_for @list, url: lists_path(@list) do |f|
    .col-md-2
    .col-md-8
      .row
        =f.input :name, label: false
        =f.submit 