.col-md-12
  .row
    %h3
      =@list.name
    %hr
  .row
    %h4
      Location Unknown
    -i=1
    -@list.items.where(location: nil).each do |item|
      -if i == @list.items.where(location: nil).count
        ="#{item.name}"
      -else
        -i+=1
        ="#{item.name}, "
    %hr
  .row
  %table{border: 0, style: 'valign: top'}
    -@list.locations.by_order.uniq.each_slice(5) do |locs|
      %tr
        -locs.each do |loc|
          %td
            // TITLE OF LOCATION 
            -if loc.description
              %h4=loc.name
              ="(#{loc.description})"
              %br
            -else
              %h4=loc.name
            // Items at this location
            -@list.items.where(location: loc).each do |item|
              =item.name
              %br

