.div.text-center
  .row
    %h1
      =@list.name
  .row
    -if @list.active
      =link_to close_list_path(@list), method: :patch,  data: {confirm: "Are you sure you want to close this list?" } do
        %button.btn.btn-danger.btn-xs
          Close
      =link_to print_view_list_path(@list), method: :get, target: :_blank do
        %button.btn.btn-info.btn-xs
          Print

    -else 
      Closed
    %hr

  .row
    -@list.locations.by_order.uniq.each_slice(3) do |locs|
      .row
        -locs.each do |loc|
          .col-md-4
            // TITLE OF LOCATION 
            -if loc.description
              %h4="#{loc.name}: #{loc.description}"
            -else
              %h4=loc.name
            // Items at this location
            -@list.items.where(location: loc).each do |item|
              =link_to remove_item_list_path(@list, item_id: item), method: :patch do
                %button.btn.btn-danger.btn-xs
                  =item.name
              %br
        %hr      
  %br
  .row
    .col-md-12
      %h4
        Location Unknown
      -@list.items.where(location: nil).each do |item|
        =link_to remove_item_list_path(@list, item_id: item), method: :patch do
          %button.btn.btn-danger.btn-xs
            =item.name
  %hr

  .row
    %h3 Add to this list
    -Item.all.order(:name).each_slice(12) do |items|
      .row
        -items.each do |item|
          .col-md-1
            -if item.in? @list.items
              =item.name
            -else
              =link_to add_item_list_path(@list, item: item), method: :get do
                %button.btn.btn-primary.btn-sm
                  =item.name
      %br
