%h1
  =@list.name

-@list.locations.by_order.uniq.each do |loc|
  -if loc.description
    %h4="#{loc.name}: #{loc.description}"
  -else
    %h4=loc.name
  %br
  -@list.items.where(location: loc).each do |item|
    =item.name
    %br
  %hr


%h3 Add to this list
-Item.all.order(:name).each do |item|
  =link_to "#{item.name}", add_item_list_path(@list, item: item)
  %br