.div.text-center
  %h3 
    ="Add a location for #{@item.name}"

  =simple_form_for @item_location, url: item_locations_path do |f|
    .col-md-4
    .col-md-4
      .row
        =f.input :item_id, as: :hidden
        =f.input :location_id, collection: (Location.order(:store_id) -  @item.locations).map{ |loc| ["#{loc.store.name}, #{loc.name}: #{loc.description}", loc.id] }, include_blank: false
        =f.submit 