.div.text-center
  .row 
    %h3
      ="Edit #{@item.name}"

    =simple_form_for @item, url: item_path(@item), method: :patch do |f|
      .col-md-4
      .col-md-4
        .row
          =f.input :name
          =f.input :location, collection: @locations, include_blank: false, selected: @item.location.try(:id)
          =f.submit 

  -if @item.lists.count > 0
    .row
      %hr
      %h4
        ="#{@item.name} appears on the following shopping lists:"
      -@item.lists.order(:created_at).each do |list|
        %i.fa.fa-shopping-cart
        =link_to "#{list.name}", list_path(list)
        ="on #{list.created_at.strftime('%b %e, %Y')}"
        %br
  .row
    %hr
    -if @item.active
      =link_to deactivate_item_path(@item), method: :patch,  data: {confirm: "Are you sure you want to delete this item?" } do
        %button.btn.btn-danger.btn-xs
          %i.fa.fa-trash
          Delete