.div.text-center
  %h3 Inventory
  -Item.all.order(:name).each_slice(12) do |items|
    .row
      -items.each do |item|
        .col-md-1
          %h4
            =link_to "#{item.to_s}", edit_item_path(item)
          =item.location.try(:name) 
    %hr
  .row
    =link_to "Create a new item", new_item_path, class: "btn btn-primary"
      