.div.text-center
  %h3 Create a new item

  =simple_form_for @item, url: items_path(list_id: @list_id) do |f|
    .col-md-4
    .col-md-4
      .row
        =f.input :name, input_html: {value: @placeholder} 
        =f.input :tmp_location, collection: @locations, include_blank: false, selected: @item.get_location(@current_store).try(:id)
        =f.submit 